
.table-column {
    -fx-alignment: center;
}

.tooltip {
    -fx-background: ghostwhite;
    -fx-text-fill: black;
    -fx-background-color: ghostwhite;
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
    -fx-font-size: 0.85em;
}

.menu-item:disabled, .menu-item:disabled > * {
    -fx-opacity: 0.7;
}

